:root {
  /* Primary */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --light-grayish-blue: hsl(0, 0%, 90%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);

  /* Gradient */
  --gradient-intro-cta-start: hsl(13, 100%, 72%);
  --gradient-intro-cta-end: hsl(353, 100%, 62%);
  --gradient-body-start: hsl(237, 17%, 21%);
  --gradient-body-end: hsl(237, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  /* border: 1px solid; */
}
html,
body {
  width: 100%;
}
.desktop {
  display: none;
}

header,
main,
footer {
  max-width: 100%;
  position: relative;
  /* overflow: hidden; */
}
p {
  line-height: 1.5;
}
button {
  background: none;
  border: none;
}
.logo {
  width: 80px;
}
.toggle {
  width: 30px;
}
.toggle img {
  width: 100%;
}
header {
  position: relative;
  width: 100%;
  height: 80vh;
  background: url(images/bg-pattern-intro-mobile.svg),
    linear-gradient(
      to bottom,
      var(--gradient-intro-cta-start) 20%,
      var(--gradient-intro-cta-end)
    );
  background-position: 35% 30%;
  border-radius: 0 0 0 120px;
  padding: 10px 1rem;
}
.nav_container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: var(--white);
  font-weight: 300;
  margin-top: 60px;
}
.hero h1 {
  font-size: clamp(1.8rem, 8vw, 2.4rem);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.hero p {
  max-width: 300px;
}
.btn_container {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 10px 14px;
  padding-top: 12px;
  border-radius: 100px;
  font-weight: 600;
}
#white_bg {
  background: var(--white);
  color: var(--light-red);
}
#no_bg {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}
/* ---------------------- nav -------------------------- */

nav {
  position: absolute;
  z-index: 9999;
  width: 90%;
  max-width: 320px;
  background: white;
  border: 1px solid;
  top: 100px;
  right: 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
}
.navlinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
}
.dropdown {
  width: 100%;
}
.drop_contain {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: var(--light-grayish-blue);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 10px;
}
.drop_contain a {
  text-decoration: none;
  color: var(--very-dark-grayish-blue);
  font-family: "Ubuntu", sans-serif;
}

nav .btn_container {
  width: 100%;
  flex-direction: column;
  border-top: 1px solid var(--very-dark-grayish-blue);
  padding-top: 1.4rem;
}
nav .dropbtn {
  margin: 0 auto;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
}
nav .dropbtn img {
  width: 12px;
}
nav .btn_container button {
  font-size: 1.2rem;
}
nav #no_bg {
  width: 120px;
  color: var(--very-dark-blue);
  padding: 10px;
}
nav #white_bg {
  width: 120px;
  background: linear-gradient(
    to right,
    var(--gradient-intro-cta-start),
    var(--gradient-intro-cta-end)
  );
  color: var(--white);
  padding: 10px;
}

/* ---------------------- main -------------------------- */

main {
  margin: 60px 0;
  text-align: center;
}
.main_heading {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.hero_section img {
  width: 100%;
  max-width: 400px;
}
#editor_section {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#phone_section {
  background: linear-gradient(
    to bottom,
    var(--gradient-body-start),
    var(--gradient-body-end)
  );

  position: relative;
  height: 550px;
  color: var(--white);
  padding: 0 1rem;
  padding-top: 200px;
  margin-top: 30vh;
  border-radius: 0 100px 0 100px;
}
.phone_img {
  position: absolute;
  width: 100%;
  padding: 5%;
  max-width: 300px;
  left: 50%;
  transform: translate(-50%);
  top: -30%;
  overflow: hidden;
}

#phone_section p {
  color: var(--grayish-blue);
  max-width: 300px;
  margin: 2rem auto;
}
#phone_section h2 {
  font-size: 1.8rem;
}
.circle_container {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0 100px 0 100px;
  overflow: hidden;
}
.circle_container img {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  width: 200%;
}
#phone_section section {
  position: relative;
  z-index: 2;
}

#laptop_section {
  margin-top: 10vh;
  padding: 0 1rem;
}

#laptop_section img {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
footer {
  background: var(--very-dark-black-blue);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  padding: 100px 1rem;
  border-radius: 0 100px 0 0;
  margin-top: 100px;
}
footer img {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
footer section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
footer p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
footer a {
  color: var(--grayish-blue);
  text-decoration: none;
}
.texts_section {
  max-width: 1440px;
}
.texts_section section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.texts_section div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.texts_section h3 {
  font-size: 1.4rem;
  max-width: 240px;
  color: var(--very-dark-blue);
}
.texts_section p {
  max-width: 300px;
  font-size: 1rem;
  color: var(--very-dark-grayish-blue);
}
.mobile {
  display: block;
}
.pc {
  display: none;
}
@media (width > 760px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 1000px) {
  main {
    overflow: hidden;
    padding-top: 130px;
  }
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  br {
    display: none;
  }
  .toggle {
    display: none;
  }
  .logo {
    width: 100px;
  }

  /* ----------------------------------------****NAV****-------------- */
  nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    width: 100%;
    margin-left: 2rem;
    position: relative;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
  }
  .dropdown {
    position: relative;
    height: 100%;
    border: 1px solid;
    display: flex;
    align-items: center;
  }
  .drop_contain {
    position: absolute;
    background: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem 2rem;
    border: 1px solid;
    left: 0;
    top: 100%;
  }
  .dropbtn {
    font-size: 1.2rem;
    color: var(--white);
  }
  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^****NAV****^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

  header article {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
  }
  header {
    width: 100%;
    height: 80vh;
    max-height: 600px;
    background: url("./images/bg-pattern-intro-desktop.svg"),
      linear-gradient(
        to right,
        var(--gradient-intro-cta-start),
        var(--gradient-intro-cta-end)
      );
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 0 0 0 120px;
    padding: 10px 1rem;
  }
  .hero {
    gap: 1.6rem;
    margin-top: 100px;
  }
  .hero h1 {
    font-size: 3.2rem;
  }
  .hero p {
    max-width: fit-content;
    font-size: 1rem;
  }
  .hero .btn {
    padding: 16px 28px;
    padding-top: 16px;
    font-size: 1rem;
    margin-top: 2rem;
  }
  #editor_section {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }
  .hero_section img {
    width: 100%;
    max-width: 900px;
    position: absolute;
  }
  #editor_section img {
    right: -170px;
    max-width: 600px;
  }

  .texts_section h3 {
    font-size: 1.6rem;
    max-width: fit-content;
    color: var(--very-dark-blue);
  }
  .texts_section p {
    max-width: 500px;
    font-size: 1rem;
    color: var(--very-dark-grayish-blue);
  }
  .texts_section div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }
  .main_heading {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  #phone_section {
    background: linear-gradient(
      to right,
      var(--gradient-body-start),
      var(--gradient-body-end)
    );
    height: 360px;
    margin-top: 300px;
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  #phone_section section {
    text-align: left;
  }
  #phone_section p {
    width: fit-content;
    max-width: 430px;
  }
  #phone_section .phone_img {
    width: 480px;
    object-fit: auto;
    position: absolute;
    top: -60px;
    left: 4%;
    transform: translate(0);
    padding: 0;
  }

  .circle_container img {
    top: -120%;
    left: 22%;
    transform: translateX(-50%) scale(1.2);
    width: 100%;
  }
  #laptop_section {
    width: 100%;
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 130px;
  }

  #laptop_section section {
    justify-self: end;
  }
  #laptop_section img {
    max-width: 600px;
    position: absolute;
    left: -170px;
  }
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width > 1100px) {
  #editor_section img {
    max-width: 800px;
    right: -220px;
  }
  #laptop_section img {
    max-width: 800px;
    left: -230px;
  }

  #phone_section {
    background: linear-gradient(
      to right,
      var(--gradient-body-start),
      var(--gradient-body-end)
    );
    height: 400px;
    margin-top: 300px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  #phone_section .phone_img {
    width: 550px;
    top: -70px;
  }
}
@media (width > 1380px) {
  #phone_section {
    background: linear-gradient(
      to right,
      var(--gradient-body-start),
      var(--gradient-body-end)
    );
    height: 400px;
    margin-top: 300px;
    padding: 0 14%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  #phone_section .phone_img {
    width: 550px;
    top: -70px;
    left: 10%;
  }
  #phone_section p {
    width: fit-content;
    max-width: 500px;
  }
}
